<section id="korisnik" style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
     

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div *ngIf="odabraniKor">
              <div class="d-flex justify-content-end">
                <button type="button" (click)="ngOnInit()" class="btn-close"></button>
              </div>

              <div>
                <label> Slika: </label>
                <input id="slika-input-edit" type="file" class="form-control" accept="image/*" (change)="PreviewEdit()">
                <img class="rounded mx-auto d-block my-2 img-fluid img-thumbnail" style="max-width: 100%; height: 200px"
                     src="{{odabraniKor.slika}}">
              </div>

              <div class="row">
                <div class="col">
                  <label> Ime: </label>
                  <input type="text" class="form-control mb-2" [(ngModel)]="odabraniKor.ime" required>

                  <label> Prezime: </label>
                  <input type="text" class="form-control mb-2" [(ngModel)]="odabraniKor.prezime" required>

                  <label> Username: </label>
                  <input type="text" class="form-control mb-2" [(ngModel)]="odabraniKor.username" required>

                  <label> Password: </label>
                  <input type="password" class="form-control mb-2" [(ngModel)]="odabraniKor.password">
                </div>

                <div class="col">
                  <label> Grad prebivališta: </label>
                  <select class="form-select" [(ngModel)]="odabraniKor.gradID">
                    <option *ngFor="let x of gradovi" [value]="x.id">{{x.naziv}}</option>
                  </select>

                  <label> Država: </label>
                  <select class="form-select" [(ngModel)]="odabraniKor.drzavaID">
                    <option *ngFor="let x of drzave" [value]="x.id">{{x.naziv}}</option>
                  </select>

                  <label> Spol: </label>
                  <select class="form-select" [(ngModel)]="odabraniKor.spolID">
                    <option *ngFor="let x of spolovi" [value]="x.id">{{x.naziv}}</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-danger mt-2" (click)="Save()">Spasi promjene</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

