<section id="adminpage">


    <div class="py-1">
      <div class="container-fluid">
  
        <div class="row d-flex gy-2 services justify-content-center" >
  
  
          <div class="card m-2 p-0"  style="width: 15rem;">
            <img src="assets/1admin.png" class="card-img-top" alt="Notifikacije" />
            <div class="card-body">
              <h5 class="card-title text-center">Notifikacije</h5>
              <br>
              <button type="button" routerLink='/AdministratorPageNotifikacije' class="btn btn-danger w-100">Odaberi</button>
            </div>
          </div>
  
  
  
          <div class="card m-2 p-0"  style="width: 15rem;">
            <img src="assets/2admin.png" class="card-img-top" alt="Korisnici" />
            <div class="card-body">
              <h5 class="card-title text-center">Korisnici</h5>
              <br>
              <button type="button" routerLink='/AdministratorPageKorisnici' class="btn btn-danger w-100">Odaberi</button>
            </div>
          </div>
  
        
  
  
  
  
          <div class="card m-2 p-0"  style="width: 15rem;">
            <img src="assets/9admin.png" class="card-img-top" alt="Gradovi" />
            <div class="card-body">
              <h5 class="card-title text-center">Gradovi</h5>
              <br>
              <button type="button" routerLink='/AdministratorPageGradovi' class="btn btn-danger w-100">Odaberi</button>
            </div>
          </div>
  
       
  
  
          <div class="card m-2 p-0"  style="width: 15rem;">
            <img src="assets/11admin.png" class="card-img-top" alt="Administratori" />
            <div class="card-body">
              <h5 class="card-title text-center">Administratori</h5>
              <br>
              <button type="button" routerLink='/AdministratorPageAdmin' class="btn btn-danger w-100">Odaberi</button>
            </div>
          </div>
  
          <div class="card m-2 p-0"  style="width: 15rem;">
            <img src="assets/12admin.png" class="card-img-top" alt="Kateogrije" />
            <div class="card-body">
              <h5 class="card-title text-center">Kategorije</h5>
              <br>
              <button type="button" routerLink='/AdministratorPageKategorije' class="btn btn-danger w-100">Odaberi</button>
            </div>
          </div>
  
          <div class="card m-2 p-0"  style="width: 15rem;">
            <img src="assets/13admin.png" class="card-img-top" alt="Recenzije" />
            <div class="card-body">
              <h5 class="card-title text-center">Recenzije</h5>
              <br>
              <button type="button" routerLink='/AdministratorPageRecenzije' class="btn btn-danger w-100">Odaberi</button>
            </div>
          </div>
  
          <div class="card m-2 p-0"  style="width: 15rem;">
            <img src="assets/14admin.png" class="card-img-top" alt="FAQ" />
            <div class="card-body">
              <h5 class="card-title text-center">FAQ</h5>
              <br>
              <button type="button" routerLink='/AdministratorPageFaq' class="btn btn-danger w-100">Odaberi</button>
            </div>
          </div>
  
   
  
  
        </div>
      </div>
    </div>
  
  
  </section>
  
  
  